<div class="quiz-container">
  <h1>Topic: {{ questionsForm.topic }}</h1>
  <h2 class="level">Level: {{ questionsForm.level }}</h2>

  <div
    *ngFor="let question of questionsForm.questions; let i = index"
    class="question-card"
    [class.correct]="answerStatus[i] === 'correct'"
    [class.incorrect]="answerStatus[i] === 'incorrect'"
  >
    <div class="question-content">
      <p class="question-text">{{ i + 1 }}. {{ question.question }}</p>

      <ul class="options-list">
        <li *ngFor="let opt of question.options">
          <label>
            <input
              type="radio"
              [value]="opt"
              [(ngModel)]="selectedOption"
              [disabled]="answerStatus[i] !== null"
            />
            {{ opt }}
          </label>
        </li>
      </ul>

      <button
        class="check-btn"
        (click)="checkAnswer(i, question, question.correctAnswer)"
        [disabled]="answerStatus[i] !== null"
      >
        Check Answer
      </button>

      <div
        *ngIf="answerStatus[i] === 'correct'"
        class="feedback correct-feedback"
      >
        ✓ Correct!
      </div>
      <div
        *ngIf="answerStatus[i] === 'incorrect'"
        class="feedback incorrect-feedback"
      >
        ✗ Incorrect! Correct Answer:
        <strong>{{ question.correctAnswer }}</strong>
      </div>
    </div>
  </div>
  <div class="quiz-footer">
    <p class="grade">
      Your Grade: {{ grade }} / {{ questionsForm.questions.length }}
    </p>

    <div class="action-buttons">
      <button class="check-btn" (click)="saveQuiz()">Save Quiz</button>
      <button class="check-btn" (click)="goHome()">Back to Home</button>
    </div>
  </div>
</div>
