<div class="container py-5">
  <div class="row align-items-center free-section">
    <div class="col-md-6">
      <h2 class="section-title">100% Free & Generate Quizzes on Any Topic</h2>
      <p class="section-description">
        No subscriptions. No paywalls. You can generate high-quality quizzes on
        literally any topic—from Physics and History to Pop Culture and Coding.
        Our smart engine understands your input and builds questions in seconds.
        Just enter a topic and go!
      </p>
    </div>
    <div class="col-md-6 text-center">
      <img
        src="../../../../assets/image3.jpg"
        alt="Free quiz generator"
        class="img-fluid free-section-img"
      />
    </div>
  </div>
</div>
<div class="container py-5">
  <div class="row align-items-center mb-5">
    <div class="col-md-6 text-center">
      <img
        src="../../../../assets/image1.png"
        alt="Auto graded certificate"
        class="img-fluid feature-img"
      />
    </div>
    <div class="col-md-6">
      <h2 class="section-title">Auto Graded</h2>
      <p class="section-description">
        Automatically assign certificates to quiz takers based on score, grade
        or type. You can even setup multiple certificates for multiple grades
        and have them emailed to your quiz takers! To get started hit the
        certificates feature on the 'Results' tab in the creator above.
      </p>
    </div>
  </div>

  <div class="row align-items-center flex-md-row-reverse">
    <div class="col-md-6 text-center">
      <img
        src="../../../../assets/image2.jpg"
        alt="Check answers instantly"
        class="img-fluid feature-img big-img"
      />
    </div>
    <div class="col-md-6">
      <h2 class="section-title">Instant Feedback</h2>
      <p class="section-description">
        See which questions you got right or wrong as soon as you complete the
        quiz. Our quiz engine highlights correct answers and shows explanations
        instantly— making it easy to learn from your mistakes and improve fast.
      </p>
    </div>
  </div>
</div>
