.section-title {
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.section-description {
  font-size: 1.1rem;
  color: #495057;
}

.free-section-img {
  width: 50%;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.06);
}
.big-img {
  width: 50%;
}
